# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
.pypi.rc

# Meson build
build/
*.pyc

# PyPI
dist/
src/iksemel.egg-info/dependency_links.txt
src/iksemel.egg-info/SOURCES.txt
src/iksemel.egg-info/PKG-INFO
src/iksemel.egg-info/top_level.txt

*.patch

# VSCode
.vscode/
